@import "vars";
@import "mixins";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  @include breakpoint($cos-bp) {
    font-size: calc(100vw / 1440 * 10);
  }

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

  -webkit-appearance: none;
  margin: 0;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}

/* Blocks */
.wrapper {
  width: 172rem;
  margin: 0 auto;
}

.title {
  color: $colorBg;
  font-weight: 800;
  font-size: 3.9rem;
  line-height: 6.83rem;
}

.text {
  color: $colorBg;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.56rem;

  &__card {
    color: $colorBg;
    font-size: 2rem;
    line-height: 2.9rem;
  }

  &__button {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.9rem;

    &-header {
      font-size: 1.4rem;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.37rem;
  }
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.--color-link {
  color: $mainColor;
}

.--color-black {

}

.agree {
  width: 2.8rem;
  height: 2.8rem;
  border: 0.1rem solid $border-color;

  &-link {
    text-decoration: underline;
    color: $mainColor;
    cursor: pointer;
  }
}

.title-slider {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3.8rem;
  color: $colorBg;
}

.--color-text {
  color: $colorText;
}


label input {
  display: none;
}

label span {
  height: 2.8rem;
  width: 2.8rem;
  border: 0.1rem solid gray;
  display: inline-block;
  position: relative;
  background-color: $colorText;
  border-radius: 0.2rem;
  padding: 0.3rem;
  cursor: pointer;
}

[type=checkbox]:checked + span:before {/* <-- ставим иконку, когда чекбокс включен  */
  content: '\2714';
  position: absolute;
  top: -3%;
  left: 2px;
  font-size: 3rem;
  color: $border-color;
}


@import "importsBlocks";