@import "vars";
@import "mixins";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
  @include breakpoint($xl-bp) {
    overflow-x: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

a, a:link {
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 0.1rem solid $border-color;
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0 1000px $colorText inset;
  transition: background-color 5000s ease-in-out 0s;
}

a:hover, a:active {
  color: $mainColor;
}

a:hover  {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

  -webkit-appearance: none;
  margin: 0;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}

/* Blocks */
.wrapper {
  width: 172rem;
  margin: 0 auto;
  @include breakpoint($xl-bp) {
    width: 62rem;
  }
  @include breakpoint($sm-bp) {
    width: 33rem;
  }

  &__container-title {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    gap: 8rem;
    @include breakpoint($sm-bp) {
      gap: 2rem;
    }
  }

  &__content-title {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem
  }

  &__container-item {
    background: $colorBg;
    width: 100%;
    height: 0.2rem;
  }
}

.title {
  color: $colorBg;
  font-weight: 800;
  font-size: 3.9rem;
  line-height: 6.83rem;
  @include breakpoint($xl-bp) {
    font-size: 2rem;
    line-height: 2.9rem;
  }
}

.text {
  color: $colorBg;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.56rem;
  @include breakpoint($xl-bp) {
    font-size: 2rem;
    line-height: 2.9rem;
  }

  &__card {
    color: $colorBg;
    font-size: 2rem;
    line-height: 2.9rem;
    @include breakpoint($xl-bp) {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  &__button {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.9rem;
    @include breakpoint($xl-bp) {
      font-size: 1.4rem;
      line-height: 2rem;
    }

    &-header {
      font-size: 1.4rem;
    }
  }

  &__subtitle {
    color: $colorBg;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.37rem;
    @include breakpoint($xl-bp) {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
  }

  &__additionally {
    color: $colorBg;
    font-weight: 800;
    font-size: 2.6rem;
    line-height: 3.8rem;
    @include breakpoint($xl-bp) {
      font-size: 2rem;
      line-height: 2.9rem;
    }
  }

  &__list-item {
    color: $colorBg;
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.9rem;
  }

  &__title-partner {
    font-size: 2.6rem;
    font-weight: 800;
    line-height: 3.8rem;
    @include breakpoint($xl-bp) {
      font-size: 1.4rem;
      line-height: normal;
    }
  }
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.--color-link {
  color: $mainColor;
}

.--color-black {
  color: $black;
}

.--color-text {
  color: $colorText;
}

.--color-dark {
  color: $colorBg;
}

.text-bottom {
  padding-bottom: 4rem;
}

.text-bottom2 {
  padding-bottom: 2rem;
}

.text-top {
  margin-top: 13rem;
}

.form {
  text-align: center;
}

.agree {
  width: 2.8rem;
  height: 2.8rem;
  border: 0.1rem solid $border-color;

  &-link {
    color: $border-color;
    cursor: pointer;
  }
}

.title-slider {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3.8rem;
  color: $colorBg;
  @include breakpoint($xl-bp) {
    font-size: 2rem;
    line-height: 2.9rem;
  }
}

label input {
  display: none;
}

label span {
  height: 2.8rem;
  width: 2.8rem;
  border: 0.1rem solid gray;
  display: inline-block;
  position: relative;
  background-color: $colorText;
  border-radius: 0.2rem;
  padding: 0.3rem;
  cursor: pointer;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -3%;
  left: 2px;
  font-size: 3rem;
  color: $border-color;
}

.text-underline {
  color: $border-color;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.15rem;
  &:hover {
    color: $red;
  }
}

.text-underline--red {
  color: $mainColor;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.15rem;
  &:hover {
    text-underline-offset: 0.7rem;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.accordion__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 0.2rem solid $red;
  padding: 4rem 6.4rem;
  text-align: center;
  @include breakpoint($sm-bp) {
    padding: 1rem 4.4rem;
  }
}

table tr:nth-child(n+2):nth-child(-n+16) td:nth-child(3) {
  text-align: left;
  padding-left: 8rem;
}

.form--line {
  outline: none;
  border: none;
  border-bottom: 0.1rem solid $colorText;
}


@import "importsBlocks";