@import '../vars';
@import '../mixins';

.about {
  display: flex;
  max-height: 66.2rem;
  @include breakpoint($xl-bp) {
    padding: 0 3.5rem;
    position: static;
    flex-direction: column;
  }
  @include breakpoint($xl-bp) {
    width: 33rem;
    margin: 0 auto;
  }

 &__information {
   padding: 8rem 11rem 6.6rem 6.2rem;
   @include bg-color;
   position: relative;
   max-width: 99rem;
   @include breakpoint($xl-bp) {
    padding: 4rem 3.5rem;
    position: static;
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   @include breakpoint($sm-bp) {
     width: 34rem;
   }

   &__information h1 {
     @include breakpoint($xl-bp) {
       text-align: center;
     }
   }

   &-img {
     position: absolute;
     bottom: 4rem;
     right: 3rem;
     opacity: 0.3;
     @include breakpoint($xl-bp) {
        display: none;
     }
   }
 }

  &__img {
    width: 44.3rem;
    height: 33.7rem;
  }

  &__form {
    border: 0.2rem solid $mainColor;
    padding: 8rem 4.9rem 6.6rem 6.7rem;
    max-width: 72.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-around;
    @include breakpoint($sm-bp) {
      width: 34rem;
    }
    &-element {
      margin-bottom: 2rem;
      @include breakpoint($xl-bp) {
        margin-bottom: 1rem;
      }
    }
    @include breakpoint($xl-bp) {
      padding: 4rem 2.3rem 4rem 3.4rem;
      max-width: 64rem;
      gap: 2rem;
    }
  }

  &__form .text__subtitle {
    text-align: left;
  }

  &__cookie-banner {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 46.4rem;
    @include breakpoint($xl-bp) {
      margin: 4rem auto;
    }
    @include breakpoint($sm-bp) {
      width: 26rem;
    }
  }

  &__subtitle {
    color: $mainColor;
  }

  &__form-control {
    width: 58rem;
    height: 3.9rem;
    font-size: 1.6rem;
    border: none;
    border-bottom: 0.2rem solid $border-color;
    outline: none;
    @include breakpoint($xl-bp) {
      width: 45rem;
    }
    @include breakpoint($sm-bp) {
      width: 28rem;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 7rem;
    @include breakpoint($xl-bp) {
      margin-top: 4rem;
    }
  }

  &__information-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 0 10rem 4rem;
    @include breakpoint($xl-bp) {
      gap: 1rem;
      margin: 2rem 4rem;
    }
  }

  &__information-item {
    color: $colorText;
    list-style: disc;
  }

  &__button-information:hover {
    background: $red;
    color: $colorText;
  }
}

.about-us {
  margin-bottom: 14rem;
    &__title {
      position: relative;
      margin-bottom: 8rem;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 11%;
        width: 89%;
        height: 0.2rem;
        background-color: $border-color;
      }
    }

  &__information {
    margin-bottom: 14rem;
    max-width: 115.6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__img-container {
    position: relative;
    max-width: 172rem;
    max-height: 73.3rem;
    & img {
      width: 100%;
    }
  }

  &__slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 14rem;
  }

  &__inf {
    position: absolute;
    top: 15%;
    right: 18%;
    display: flex;
    gap: 17.6rem;
    max-width: 123rem;
  }

  &__swiper {
    max-width: 110.4rem;
    overflow: hidden;
    max-height: 66rem;
  }

  &-pagination {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  &-btn-prev,
  &-btn-next {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    background: $mainColor;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    top: 50%;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      background: $red;
    }
  }

  &__img {
    width: 36.8rem;
    height: 35.5rem;
  }
}

.swiper-button-prev:after,
.swiper-button-prev:after {
  color: $colorText;
  font-size: 1rem;
}

.btn-left {
  left: 15%;
}

.btn-right {
  right: 13%;
}

.swiper-pagination span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-color: $colorText;
  background: $colorText;
  &.swiper-pagination-bullet-active {
    background: $mainColor;
  }
}

