@import '../vars';
@import '../mixins';

.about {
  display: flex;

 &__information {
   padding: 8rem 11rem 6.6rem 6.2rem;
   @include bg-color;
   position: relative;

   &-img {
     position: absolute;
     bottom: 4rem;
     right: 3rem;
     opacity: 0.3;
   }
 }

  &__img {
    width: 44.3rem;
    height: 33.7rem;
  }


  &__form {
    padding: 8rem 4.9rem 6.6rem 6.7rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-around;
  }

  &__cookie-banner {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 46.4rem;
  }

  &__subtitle {
    color: $mainColor;
  }

  &__form-control {
    width: 58rem;
    height: 3.9rem;
    font-size: 1.6rem;
    border: none;
    border-bottom: 0.2rem solid $border-color;
    outline: none;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 7rem;
  }

  &__information-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 0 10rem 4rem;
  }

  &__information-item {
    color: $colorText;
    list-style: disc;
  }

  &__button-information:hover {
    background: $red;
    color: $colorText;
  }

}