@import '../vars';

@import '../mixins';

.curse {
  margin-top: 14rem;
  margin-bottom: 14rem;

  &__title {
    position: relative;
    padding-right: 8rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 87%;
      height: 0.2rem;
      background-color: $border-color;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 8rem 0;
    gap: 28rem;
    align-items: flex-end
  }

  &__slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  &__swiper {
    display: flex;
    max-width: 147rem;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }

  &__item-inf {
    padding: 4rem 5rem 3.4rem 5rem;
    border: 0.2rem solid $mainColor;
    max-width: 100%;
    width: 43rem;
    height: 46rem;
    max-height: 50rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__button {
    width: 32.3rem;
    margin-top: 5.7rem;

    &:hover {
      background: $red;
    }
  }

}

.btn-prev,
.btn-next {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  width: 3rem;
  height: 3rem;
  z-index: 10;
  background-color: $mainColor;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background: $red;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: $colorText;
  font-size: 1rem;
}

.curse-item {
  margin-top: 4rem;
  margin-bottom: 14rem;

  &__title {
    position: relative;


    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 87%;
      height: 0.2rem;
      background-color: $border-color;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 8rem 0 14rem 0;
    max-width: 111rem;
  }

  &__subtitle {
    font-weight: 800;
    font-size: 4.6rem;
    line-height: 6.8rem;
    margin-bottom: 4rem;
    color: $colorBg;
  }

  &__form-container {
    padding: 6rem 9.8rem 7rem 9.8rem;
    @include bg-color;
    margin: 14rem 0 14rem 0;
    text-align: center;
  }

  &__button:hover {
    box-shadow: 0 0.8rem 1.5rem rgb(19, 19, 19);
  }

  &__form {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    &-control {
      background: transparent;
      width: 58rem;
      height: 4.8rem;
      font-size: 2rem;
      color: $colorText;
    }
  }

  &__cookie-banner {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 48.4rem;
  }

  &__agree-link:hover {
    color: $black;
  }

  &__button:hover {
    @include bg-color;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 0.2rem solid $red;
  padding: 4rem 6.4rem;
  text-align: center;
}

table tr:nth-child(n+2):nth-child(-n+16) td:nth-child(3) {
  text-align: left;
  padding-left: 8rem;
}

.form--line {
  outline: none;
  border: none;
  border-bottom: 0.1rem solid $colorText;
}
