@import '../vars';
@import '../mixins';

.info {
  padding-top: 14rem;
  @include breakpoint($xl-bp) {
    padding-top: 12rem;
  }
  @include breakpoint($sm-bp) {
    padding-top: 20rem;
  }

  &__container {
    max-width: 116rem;
    margin: 4rem 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__button {
    margin-top: 14rem;
    padding: 0.4rem 3.1rem;
    &:hover {
      background: $red;
    }
    @include breakpoint($xl-bp) {
      margin-top: 6rem;
    }
  }

  &__link {
    cursor: pointer;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0.1rem;
      height: 0.1rem;
      width: 100%;
      background-color: $border-color;
    }
    &:hover {
      color: $red;
    }
  }
}