@import '../vars';

@import '../mixins';

.news {
  padding-bottom: 14rem;
  @include breakpoint($sm-bp) {
    padding-bottom: 8rem;
  }

  &__container {
    padding-top: 8rem;
    @include breakpoint($sm-bp) {
      padding-top: 4rem;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 2rem;
    border-bottom: 0.2rem solid $border-color;
    @include breakpoint($xl-bp) {
      flex-direction: column-reverse;
      padding: 2rem 0;
      gap: 6rem;
    }
    &:first-child {
      padding-top: 0;
    }


    &-text {
      display: flex;
      gap: 2rem;
      align-self: center;
    }

    &-text p {
      @include breakpoint($xl-bp) {
        align-self: center;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
    }

    &-card {
      color: $colorBg;
      font-weight: 800;
      font-size: 2rem;
      line-height: 2.9rem;
      @include breakpoint($xl-bp) {
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }
  }

  &__button {
    padding: 0.45rem 5.75rem;
    &-all {
      padding: 0.45rem 3.4rem;
      margin-top: 6.1rem;
    }
  }
}

.news-all {
  padding-bottom: 14rem;
  @include breakpoint($sm-bp) {
    padding-bottom: 8rem;
  }

  & .wrapper__content-title {
    padding-bottom: 8rem;
    @include breakpoint($xl-bp) {
      padding-bottom: 2rem;
    }
  }

  &__wrapper {
    max-width: 116rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @include breakpoint($xl-bp) {
      padding-top: 1rem;
    }
  }

  &__list {
    & li:first-child {
      border-top: 0.2rem solid $colorBg;
      @include breakpoint($sm-bp) {
        border-top: none;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 0.2rem solid $colorBg;
    @include breakpoint($sm-bp) {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 4rem;
    }
    & > div {
      width: 100%;
    }
  }

  &__item-text {
    max-width: 116rem;
    @include breakpoint($sm-bp) {
      display: none;
    }
  }

  &__content {
    display: flex;
    gap: 2rem;
    padding: 4rem 0 2rem;
    max-width: 112rem;
    @include breakpoint($sm-bp) {
      padding-top: 2rem;
    }
  }

  &__button {
    padding: 0.45rem 3.5rem;
    margin-top: 6rem;
    @include breakpoint($sm-bp) {
      padding: 0.45rem 1.5rem;
    }
  }

  &__item-bottom {
    display: flex;
    gap: 12rem;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  &__bottom {
    display: none;
    @include breakpoint($sm-bp) {
      display: block;
    }
  }
}
