@import '../vars';
@import '../mixins';

.project {
  padding-bottom: 14rem;
  @include breakpoint($sm-bp) {
    padding-bottom: 0;
  }

  &__inf {
    background: $mainColor;
    padding: 4rem 4rem 3.2rem 4rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 6rem;
      & li {
        display: flex;
        gap: 1rem;
        @include breakpoint($xl-bp) {
          display: block;
        }
      }
  }

  &__content {
    display: flex;
    gap: 6.4rem;
    margin-top: 2rem;
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 4rem;
      padding-right: 6.4rem;
    }
  }

  &__button {
    margin-top: 2rem;
    margin-left: auto;
    display: block;
    @include breakpoint($sm-bp) {
      padding: 1rem 3rem;
    }
  }

  &__img {
   width: 70.9rem;
    max-height: 47rem;
    @include breakpoint($sm-bp) {
      display: none;
    }

    & img {
      height: 100%;
    }
  }

  &-pagination {
    position: absolute;
    margin-bottom: -7rem;
    & span {
      border-color: $mainColor;
    }
  }

  &__slider {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 9.1rem;
  }

  &__swiper {
    max-width: 142rem;
    overflow: hidden;
    height: 47rem;
  }

  & .title-slider {
    color: $colorText;
  }
}

.project-btn-prev,
.project-btn-next {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background: $mainColor;
  transform: translate(-50%);
  top: 50%;
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  &:hover {
    background: $red;
  }
  @include breakpoint($xl-bp) {
    width: 3rem;
    height: 3rem;
  }
  @include breakpoint($sm-bp) {
  display: none;
  }
}

.swiper-slide-content {
  display: flex;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: $colorText;
  font-size: 1.5rem;
}

.swiper-slide-text {
  padding: 4rem 3rem 3.3rem 6rem;
  gap: 6rem;
  background: $mainColor;
  max-width: 70.5rem;
  @include breakpoint($sm-bp) {
    padding: 2rem 3rem 3rem 3rem;
    max-width: 33rem;
  }
}

.swiper-pagination-bullet {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  border-radius: 50%;
  border: 0.2rem solid $mainColor;
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  background: $mainColor;
}

.swiper-slide-inf {
  margin: 3rem 0;
}

.project-detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 8rem;
  @include breakpoint($xl-bp) {
    margin-top: 4rem;
    margin-bottom: 8rem;
    gap: 6rem;
  }

  &__container {
    max-height: 46rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    @include breakpoint($xl-bp) {
      gap: 0;
      flex-direction: column;
      max-height: 80rem;
    }
  }

  &__img {
    width: 99.5rem;
    max-height: 46rem;
    @include breakpoint($xl-bp) {
      width: auto;
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    padding: 4rem 4rem 3.3rem 4rem;
    background: $mainColor;
    max-width: 70.9rem;
  }

  &__button {
    position: relative;
    display:inline-block;
    width: 33.5rem;
    height: 6rem;
    padding: 1.1rem 10.5rem;
    background-image:
            linear-gradient(to top, $colorText 50%, $mainColor 50%),
            linear-gradient(to top, $red 50%, transparent 50%);
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.5s ease-in-out;
    @include breakpoint($xl-bp) {
      width: 23rem;
      height: 3.8rem;
    }
  &:hover{
    background-position: bottom;
  }
}

  &__title {
    font-size: 2rem;
    line-height: 3.8rem;
    @include breakpoint($xl-bp) {
      font-size: 2rem;
      line-height: 2.9rem;
    }
  }

  &__text-card {
    font-size: 1.5rem;
    align-self: center;
    @include breakpoint($xl-bp) {
      text-align: left;
    }
  }

  &__inf {
    margin: 6rem 0 5.8rem;
    @include breakpoint($sm-bp) {
      margin: 2rem 0 4rem;
    }
    & h4 {
      display: inline-block;
      padding-right: 1rem;
    }
  }
}

.project-result {
  padding-bottom: 14rem;
  @include breakpoint($xl-bp) {
    padding-bottom: 8rem;
  }

  & .wrapper__content-title {
    padding-bottom: 8rem;
  }

  &__content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
  }

  &__content {
    display: flex;
    gap: 6.4rem;
    @include breakpoint($xl-bp) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
    }
  }

  &__img {
    max-width: 85rem;

    & img {
      width: 100%;
    }
  }

}