@import '../vars';

.aside {
  width: 43.5rem;
  background: $mainColor;
  padding: 4rem 5.7rem;
  max-height: 167rem;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-bar__item {
  position: relative;
  cursor: pointer;
}

.nav-bar__item {
  border-bottom: 0.2rem solid transparent;
  transition: border-color 0.3s;
}

.nav-bar__item:hover{
  border-color: $colorText;
}


.active1 {
  border-bottom: 0.2rem solid $colorText !important;
}

