@import '../vars';
@import '../mixins';

.button {
  width: 36.3rem;
  height: 6rem;
  background: $colorText;
  padding: 1.5rem 6.3rem;
  color: $mainColor;
  border: none;
  transition: background-color 0.5s ease;
  &:hover {
    color: $colorText;
  }
  @include breakpoint($xl-bp) {
    width: 25rem;
    height: 4.1rem;
    padding: 1rem 4.3rem;
  }

  &-bg {
    background: $mainColor;
    color: $colorText;
  }

  &__accordion {
    border: none;
    background: transparent;
    text-align: left;
    position: relative;
    padding-left: 2rem;
    padding-bottom: 1rem;
    &:before {
      content: "\276F";
      transition: all .35s;
      position: absolute;
      font-size: 1.8rem;
      left: 0;
    }
  }
}

.about__button:hover {
  background: $red;
}

.button-small {
  width: 19rem;
  height: 4.1rem;
  padding: 0.45rem 4.4rem;
  background: $mainColor;
  color: $colorText;
  border: none;
  transition: background-color 0.5s ease;
  @include breakpoint($sm-bp) {
    width: 14.8rem;
    height: 4.1rem;
    padding: 1rem 4rem;
  }

  &:hover {
    background: $red;
  }
}