@import '../vars';
@import '../mixins';

.header {
  padding: 4rem 0;
  height: 20rem;
  top: -9rem;
  background: $colorText;
  z-index: 20;
  position: sticky;
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    transition: all 2s ease;
    justify-content: space-between;
  }

  &-svg {
    height: 2.5rem;
    width: 3.6rem;
    margin-left: 1rem;
    &:hover {
      stroke: $colorBg;
    }
  }

  &__text {
    width: 37rem;
    margin-right: 14rem;
  }

  &__text a {
    color: $colorBg;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }

  &__search {
    position: relative;
    width: 90rem;
    margin-right: 4.5rem;
    height: 4rem;
  }

  &__optic {
    align-self: center;
  }

  &-search-svg {
    position: absolute;
    top: -6%;
    height: 3rem;
    width: 3rem;
  }

  &__input {
    border: none;
    border-bottom: 0.2rem solid $colorBg;
    width: 100%;
    margin-right: 6.5rem;
    padding-left: 4rem;
    font-size: 2rem;
  }

  &__logo-container {
    display: flex;
    gap: 3.5rem;
  }

  &__menu {
    margin-left: 5rem;
  }

  &__menu .menu__list {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
  }

  &__menu .menu {
    width: 90rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    transition: all 2s ease;
    position: sticky;
    top: 0;
    height: 7rem;
  }

  &__menu .menu__list  .menu__item {
    color: $colorBg;
    position: relative;

    &:hover {
      color: $red;
    }

    &:hover::after {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0.1rem;
      width: 0;
      background-color: $red;
      transition: width 0.3s ease-in-out;
    }
  }

  &__burger {
    width: 5rem;
    height: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
  }

  &__burger span {
    height: 0.4rem;
    background-color: $colorBg;
    transition: all 0.3s ease;
  }

  &__logo {
    display: flex;
    gap: 1rem;
    max-width: 28rem;

    & img {
      width: 8rem;
      height: 6.5rem;
    }

    &-text {
      font-weight: 800;
      font-size: 2.4rem;
      line-height: 3.56rem;
      text-transform: uppercase;
      color: $mainColor;
      &:hover {
        color: $red;
      }
    }
  }

  &__tel a {
    color: $mainColor;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.5rem;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }

  &__tel,
  &__menu {
    align-self: end;
  }

  &__mob {
    position: fixed;
    left: -100%;
    width: 100%;
    height: calc(100vh + 5%);
    background-color: rgba(62, 34, 53, 0.7);
    transition: all 0.5s ease-in-out;
    z-index: 10;
    margin-top: -19rem;

    &-menu {
      width: 53.6rem;
      background: $mainColor;
      height: 100%;
      overflow-y: scroll;

    }

    &-item a {
      color: $colorText;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &-list {
      padding: 8rem 11.5rem 8rem 10rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &-close {
      position: relative;
      margin-bottom: 3.2rem;
    }
  }

}

.show {
  left: 0;
  transition: all 0.5s ease-in-out;
}

.out {
  top: 0;
}

.close {
  right: 3.2rem;
  top: 3.2rem;
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0.7;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 1.5rem;
  content: ' ';
  height: 3.3rem;
  width: 0.4rem;
  background-color: $colorText;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.header__mob-menu::-webkit-scrollbar {
  width: 1rem;
}

.header__mob-menu::-webkit-scrollbar-track {
  background: rgba(62, 34, 53, 0.75);
}

.header__mob-menu::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 1rem;
}
