@import '../vars';
@import '../mixins';

.header {
  padding: 2rem 0;
  height: 30rem;
  top: -14rem;
  background: $colorText;
  z-index: 20;
  position: sticky;
  @include breakpoint($xl-bp) {
    height: 20rem;
    padding-top: 2rem;
    padding-bottom: 0;
  }
  @include breakpoint($sm-bp) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 9rem;
    width: 33rem;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    transition: all 2s ease;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint($sm-bp) {
      justify-content: flex-end;
    }
  }

  &__linc {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.1rem solid $border-color;
    white-space: nowrap;
    & p:last-child {
      text-align: end;
    }
    @include breakpoint($xl-bp) {
      display: none;
    }
  }

  &__mob-linc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    border-top: solid 0.2rem rgba(255, 255, 255, 0.25);
  }

  & .button {
    position: relative;
    overflow: hidden;
    background: $mainColor;
    color: #fff !important;
    font-size: 0.950em;
    text-transform:  uppercase;
    transition: .2s ease-in-out;
    @include breakpoint($sm-bp) {
      display: none;
    }
    &:before {
      content: "";
      background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
      height: 6rem;
      width: 5rem;
      position: absolute;
      top: 0;
      left: -9.7rem;
      transform: skewX(-45deg);
    }

    &:hover {
      background: $red;
      color: #fff !important;
    }

    &:hover:before {
      left: 100%;
      transition: .5s ease-in-out;
    }
    &:focus {
      background: $mainColor;
      color: #fff !important;
      outline: none;
    }
    @include breakpoint($xl-bp) {
      padding: 1rem 0;
    }
  }

  &-svg {
    height: 2.5rem;
    width: 3.6rem;
    margin-left: 1rem;
    &:hover {
      stroke: $colorBg;
    }
  }

  &__text,
  &__text-linc {
    width: 37rem;
    margin-right: 1rem;
    @include breakpoint($xl-bp) {
      display: none;
    }
  }

  &__text-linc a,
  &__text a {
    color: $colorBg;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }

  &__search {
    position: relative;
    width: 44.9rem;
    margin-right: 4.5rem;
    height: 3.4rem;
    @include breakpoint($xl-bp) {
      display: none;
    }
  }

  &__optic {
    align-self: center;
  }

  &-search-svg {
    position: absolute;
    top: -6%;
    height: 3rem;
    width: 3rem;
  }

  &__input {
    border: none;
    border-bottom: 0.2rem solid $colorBg;
    width: 100%;
    margin-right: 6.5rem;
    padding-left: 4rem;
    font-size: 2rem;
  }

  &__logo-container {
    display: flex;
    gap: 3.5rem;
    @include breakpoint($sm-bp) {
      gap: 1.5rem;
    }
  }

  &__menu {
    margin-left: 5rem;
    @include breakpoint($xl-bp) {
      display: none;
    }
  }

  &__menu .menu__list {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
  }

  &__menu .menu {
    width: 120rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    transition: all 2s ease;
    position: sticky;
    top: 0;
    height: 7rem;
  }

  &__menu .menu__list  .menu__item {
    color: $colorBg;
    position: relative;

    &:hover {
      color: $red;
    }

    &:hover::after {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0.1rem;
      width: 0;
      background-color: $red;
      transition: width 0.3s ease-in-out;
    }
  }

  &__burger {
    width: 5rem;
    height: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    @include breakpoint($xl-bp) {
      width: 3rem;
      height: 2rem;
    }
  }

  &__burger span {
    height: 0.4rem;
    background-color: $colorBg;
    transition: all 0.3s ease;
  }

  &__logo {
    display: flex;
    gap: 1rem;
    max-width: 28rem;

    & img {
      width: 8rem;
      height: 6.5rem;
      @include breakpoint($xl-bp) {
        width: 7rem;
        height: 5.5rem;
      }
      @include breakpoint($sm-bp) {
        width: 4.9rem;
        height: 3.9rem;
      }
    }
  }

  &__tel a {
    color: $mainColor;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.5rem;
    cursor: pointer;
    &:hover {
      color: $red;
    }
    @include breakpoint($xl-bp) {
      font-size: 2rem;
      line-height: 7rem;
    }
  }

  &__tel,
  &__menu {
    align-self: center;
    @include breakpoint($sm-bp) {
      display: none;
    }
  }

  &__mob {
    position: fixed;
    left: -165%;
    width: 100%;
    height: calc(100vh + 5%);
    background-color: rgba(62, 34, 53, 0.7);
    transition: all 0.5s ease-in-out;
    z-index: 10;
    top: 0;

    &-menu {
      width: 53.6rem;
      background: $mainColor;
      height: 100%;
      overflow-y: scroll;
      position: relative;
      @include breakpoint($sm-bp) {
        width: 100%;
      }
    }

    &-item a {
      color: $colorText;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &-list {
      padding: 8rem 11.5rem 8rem 10rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @include breakpoint($xl-bp) {
        padding: 4rem 2rem;
      }
    }

    &-close {
      position: relative;
      margin-bottom: 3.2rem;
      @include breakpoint($xl-bp) {
        margin-bottom: 1.2rem;
      }
    }
  }

  &__menu-mob,
  &__button-container {
    padding-bottom: 4rem;
    border-bottom: solid 0.2rem $border-menu;
  }

  &__mob-optic {
    position: absolute;
    top: 8rem;
    right: 3rem;
    @include breakpoint($xl-bp) {
      top: 4rem;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
  }

  &__button--item {
    background: $colorText;
    color: $mainColor;
    width: 25.4rem;
    height: 4.1rem;
    border: none;
    &:hover {
      @include bg-color;
      color: $colorText;
      box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem $border-menu;
    }
  }

}

.show {
  left: 0;
  transition: all 0.5s ease-in-out;
}

.out {
  top: 0;
}

.close {
  right: 3.2rem;
  top: 3.2rem;
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0.7;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  left: 1.5rem;
  content: ' ';
  height: 3.3rem;
  width: 0.4rem;
  background-color: $colorText;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.header__mob-menu::-webkit-scrollbar {
  width: 1rem;
}

.header__mob-menu::-webkit-scrollbar-track {
  background: rgba(62, 34, 53, 0.75);
}

.header__mob-menu::-webkit-scrollbar-thumb {
  background: $red;
}
