@import "../vars";
@import '../mixins';


.basis {
  padding-top: 8rem;
  padding-bottom: 14rem;
  display: flex;
  gap: 4rem;
  @include breakpoint($xl-bp) {
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
  &__aside {
    @include breakpoint($xl-bp) {
      display: none;
    }
  }

  &__information,
  &__management {
    display: flex;
    flex-direction: column;
    gap: 14rem;
    width: 100%;
    @include breakpoint($xl-bp) {
      gap: 8rem;
    }
  }

  &__information table,
  &__management-mob table { //
    width: 100%;
    @include breakpoint($sm-bp) {
      padding: 0;
      border: none;
      display: flex;
      justify-content: center;
    }
  }

  &__management-mob table {
    border-bottom: 0.2rem solid $red;
  }

  &__information tr,
  &__information td,
  &__management-mob tr,     //
  &__management-mob td {    //
    @include breakpoint($sm-bp) {
      display: block;
    }
  }

  &__information td,
  &__management-mob td {
    border-bottom: none;
  }

  &__information td {
    padding: 2rem 2rem 2rem 4rem;
    text-align: left;
  }

  &__information-item {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__prof {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @include breakpoint($xl-bp) {
      width: 50%;
    }
    @include breakpoint($sm-bp) {
      width: 25%;
      gap: 2rem;
    }
  }

  &__prof-content,
  &__provision-content,
  &__role {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @include breakpoint($sm-bp) {
      gap: 2rem;
    }

    & ul {
      padding-left: 3rem;
    }

    & ul li {
      list-style-type: disc;
    }

    & ul li::marker {
      font-size: 1.5rem;
    }

    & ul li:nth-child(1) {
      margin-bottom: 2rem;
    }
  }

  &__structure {
    & table tr td {
      padding: 5.9rem;
      @include breakpoint($sm-bp) {
        padding: 1.9rem;
      }
    }
  }

  &__structure-table,
  &__provision-table,
  &__schedule-table,
  &__education-table,
  &__management-table {
    overflow: hidden;
    width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-track {
      @include bg-scroll;
    }

    &::-webkit-scrollbar-thumb {
      background: $red;
    }

    &::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
    }
  }

  &__document .text {
    display: inline;
  }

  &__management,
  &__information,
  &__education .text,
  &__task,
  &__standard,
  &__provision-content h2,
  &__provision-content .text,
  &__provision-content .text-bottom2,
  &__provision-item,
  &__provision-content .accordion .text__additionally,
  &__paid,
  &__reception,
  &__requisites,
  &__security,
  &__contract,
  &__services,
  &__protection,
  &__example,
  &__schedule,
  &__role {
    @include breakpoint($xl-bp) {
      width: 50%;
    }
    @include breakpoint($sm-bp) {
      width: 25%;
    }
  }

  &__document,
  &__task,
  &__example,
  &__provision-item,
  &__panel,
  &__protection {
    & ul {
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    & ul li {
      list-style-type: disc;
    }
  }

  &__panel {
    display: none;
  }

  &__task,
  &__example,
  &__protection {
    & ul li {
      list-style-type: none;
    }

    & ul li::before {
      content: "•";
      font-size: 2.5rem;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  &__task-text {
    margin: 4rem 0 6rem;
  }

  &__task-link,
  &__standard_container,
  &__paid-content,
  &__services,
  &__education {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 116rem;
  }

  &__security {
    &-subtitle {
      padding-bottom: 1rem;
    }
    &-content {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      & ul {
        list-style-position: inside;
      }
      & ul li {
        padding-bottom: 1rem;
        text-indent: -1em;
        padding-left: 1em;
        &::before {
          margin-left: 0;
          width: 0.5em;
        }
      }
    }
  }

  &__management {
   & table td {
     padding: 4rem 2rem;
     text-align: left;
     @include breakpoint($sm-bp) {
       padding: 2rem 1rem;
     }
    }
  }

  &__provision {
    &-title {
      max-width: 70rem;
    }
  }

  &__services,
  &__security-content {
    list-style-type: disc;
    padding-left: 2rem;

    & li {
      list-style-type: none;
    }

    & li::before {
      content: "•";
      font-size: 2.5rem;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  &__schedule,
  &__education,
  &__provision {
    display: flex;
    flex-direction: column;
    gap: 14rem;
    @include breakpoint($xl-bp) {
      gap: 8rem;
    }
  }

  &__schedule table tbody tr td.text-center {
    text-align: center;
  }

  &__role-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__partners {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__partner-block {
    padding: 4rem;
    background: $mainColor;
    width: 70.5rem;
    @include breakpoint($sm-bp) {
      padding: 2rem;
    }
  }

  &__partner-block {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: slideInFromRight 0.5s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
    @include breakpoint($xl-bp) {
      height: 37rem;
      width: 50%;
    }
    @include breakpoint($sm-bp) {
      height: 32rem;
      width: 25%;
    }
  }

  &__partner-title {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__services-content .protection__panel,
  &__protection .protection__panel {
    display: none;
  }

  &__services-content .services__accordion {
    margin-top: 4rem;
  }

  &__services-list {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__services-list li {
    list-style-position: inside;
    text-indent: 2rem;
  }

  &__services-content .services__accordion,
  &__protection .protection__accordion {
    border: none;
    background: transparent;
    text-align: left;
    position: relative;
    padding-left: 2rem;
    padding-bottom: 1rem;

    &:before {
      content: "❯";
      transition: all 0.35s;
      position: absolute;
      font-size: 1.8rem;
      left: 0;
    }

    &.rotate:before {
      transform: rotate(90deg);
    }
  }

}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.tabs__content {
  width: 124rem;
}

table tr td:first-child {
  width: 34%;
  @include breakpoint($xl-bp) {
    width: 16%;
  }
  @include breakpoint($sm-bp) {
    width: 100%;
  }
}


#title {
  white-space: nowrap;
  @include breakpoint($xl-bp) {
    white-space: pre-line;
  }
}

.linc:hover {
  color: $red;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 14rem;
  @include breakpoint($xl-bp) {
    gap: 8rem;
  }
  &-wrapper__swiper {
    position: relative;
    width: 124rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint($xl-bp) {
      width: 60rem;
    }
    @include breakpoint($sm-bp) {
      width: 33rem;
    }
  }

  &__swiper,
  &__swiper2,
  &__swiper3 {
    overflow: hidden;
    width: 110rem;
    height: 66rem;
    @include breakpoint($xl-bp) {
      width: 44rem;
      height: 43rem;
    }
    @include breakpoint($sm-bp) {
      width: 34rem;
      height: 34rem;
    }
  }

  &__swiper-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include breakpoint($sm-bp) {
      width: 25%;
    }
  }

  &__swiper-button-prev,
  &__swiper2-button-prev,
  &__swiper3-button-prev,
  &__swiper-button-next,
  &__swiper2-button-next,
  &__swiper3-button-next {
    position: absolute;
    top: 50%;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    background: $mainColor;
    cursor: pointer;
    @include breakpoint($sm-bp) {
      display: none;
    }
    &:hover {
      color: $red;
    }
  }

  &__inventory {
    display: flex;
    gap: 9rem;
    height: 37rem;
    position: relative;
    right: 32%;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      right: 0;
      gap: 2rem;
    }
  }

  &__inventory-card {
    display: flex;
    height: 37rem;
    @include breakpoint($sm-bp) {
      height: 18rem;
    }
  }

  &__inventory-item {
    background: $mainColor;
    padding: 4rem;
    @include breakpoint($xl-bp) {
      width: 36rem;
    }
    @include breakpoint($sm-bp) {
      width: 22rem;
      padding: 1.5rem;
    }
  }

  &__number {
    font-weight: 800;
    font-size: 20rem;
    line-height: 13rem;
    color: $colorText;
    text-align: right;
    @include breakpoint($xl-bp) {
      padding-top: 2rem;
    }
    @include breakpoint($sm-bp) {
      font-size: 13rem;
      line-height: 5rem;
    }
  }

  & img {
    height: 100%;
    display: block;
    width: 100%;
  }

  &__img-container {
    width: 35rem;
    @include breakpoint($xl-bp) {
      width: 24.7rem;
    }
    @include breakpoint($sm-bp) {
      width: 12rem;
    }
  }

  &__banner {
    display: flex;
    height: 83.7rem;
    width: 172rem;
    position: relative;
    right: 32%;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      right: 0;
      margin-top: 18rem;
    }
    @include breakpoint($sm-bp) {
      margin-top: 0;
    }
  }

  &__banner-img {
    @include breakpoint($xl-bp) {
      width: 60rem;
      height: 50rem;
    }
    @include breakpoint($sm-bp) {
      width: 34rem;
      height: 41rem;
    }
  }

  &__img {
    width: 44.3rem;
    height: 33.7rem;
    @include breakpoint($xl-bp) {
      width: 18rem;
      height: 25rem;
    }
    @include breakpoint($sm-bp) {
      width: 12rem;
      height: 15rem;
    }
  }

  &__information {
    @include bg-color;
    padding: 8rem 18.2rem 0 8rem;
    width: 100rem;
    position: relative;
    @include breakpoint($xl-bp) {
      width: 60rem;
      padding: 2rem;
      height: 36rem;
    }
    @include breakpoint($sm-bp) {
      width: 34rem;
      height: 36rem;
    }
    & .title {
      width: 80.3rem;
      @include breakpoint($xl-bp) {
        width: 54rem;
      }
      @include breakpoint($sm-bp) {
        width: 30rem;
      }
    }
  }

  &__information-img {
    position: absolute;
    left: 52%;
    opacity: 0.3;
    width: 32rem;
    @include breakpoint($xl-bp) {
      left: 3%;
    }
    @include breakpoint($sm-bp) {
      left: 5%;
    }
  }

}

.prev {
  left: 0;
}
.next {
  right: 0;
}