@import "../vars";

.basis {
  padding-top: 8rem;
  padding-bottom: 14rem;
  display: flex;
  gap: 4rem;

  &__information {
    display: flex;
    flex-direction: column;
    gap: 14rem;
  }

  &__information td {
    padding: 2rem 2rem 2rem 4rem;
    text-align: left;
  }

  &__information-item {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__prof {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  &__prof-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    & ul {
      padding-left: 3rem;
    }

    & ul li {
      list-style-type: disc;
    }

    & ul li::marker {
      font-size: 1.5rem;
    }

    & ul li:nth-child(1) {
      margin-bottom: 2rem;
    }
  }

  &__structure {
    & table tr td {
      padding: 5.9rem;
    }
  }

  &__structure-table,
  &__education-table {
    overflow: hidden;
    width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-track {
      @include bg-scroll;
    }

    &::-webkit-scrollbar-thumb {
      background: $red;
    }

    &::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
    }
  }

  &__document .text {
    display: inline;
  }

  &__document,
  &__task,
  &__example {
    & ul {
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    & ul li {
      list-style-type: disc;
    }
  }

  &__task,
  &__example{
    & ul li {
      list-style-type: none;
    }

    & ul li::before {
      content: "•";
      font-size: 2.5rem;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  &__task-text {
    margin: 4rem 0 6rem;
  }

  &__task-link,
  &__standard_container,
  &__paid-content,
  &__services,
  &__education {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 116rem;
  }

  &__management {
   & table td {
      padding: 4rem 2rem;
     text-align: left;
    }
  }

  &__services {
    list-style-type: disc;
    padding-left: 2rem;

    & li {
      list-style-type: none;
    }

    & li::before {
      content: "•";
      font-size: 2.5rem;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  &__schedule,
  &__education {
    display: flex;
    flex-direction: column;
    gap: 14rem;
  }

  &__schedule table tbody tr td.text-center {
    text-align: center;
  }

  &__partners {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__partner-block {
    padding: 4rem;
    background: $mainColor;
    width: 70.5rem;
  }

}

.tabs__content {
  width: 124rem;
}

table tr td:first-child {
  width: 34%;
}

#title {
  white-space: nowrap;
}

.linc:hover {
  color: $red;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 14rem;
  &-wrapper__swiper {
    position: relative;
    width: 124rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__swiper,
  &__swiper2,
  &__swiper3 {
    overflow: hidden;
    width: 110rem;
    height: 66rem;
  }

  &__swiper-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__swiper-button-prev,
  &__swiper-button-next {
    position: absolute;
    top: 50%;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background: $mainColor;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }

  &__inventory {
    display: flex;
    gap: 9rem;
    max-height: 37rem;
    position: relative;
    right: 32%;
  }

  &__inventory-card {
    display: flex;
  }

  &__inventory-item {
    background: $mainColor;
    padding: 4rem;
  }

  &__number {
    font-weight: 800;
    font-size: 20rem;
    line-height: 13rem;
    color: $colorText;
    text-align: right;
  }

  & img {
    height: 100%;
  }

  &__banner {
    display: flex;
    max-height: 83.7rem;
    max-width: 172rem;
    position: relative;
    right: 32%;
  }

  &__information {
    @include bg-color;
    padding: 8rem 18.2rem 0 8rem;
    width: 100rem;
    position: relative;
    & .title {
      width: 80.3rem;
    }
  }

  &__information-img {
    position: absolute;
    left: 52%;
    opacity: 0.3;
  }


}

.prev {
  left: 0;
}
.next {
  right: 0;
}