@import '../vars';
@import '../mixins';

.contacts {
  padding-bottom: 14rem;
  @include breakpoint($xl-bp) {
    padding-bottom: 8rem;
  }

  &__container {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__container-item {
    display: flex;
    gap: 2rem;
    @include breakpoint($sm-bp) {
      flex-direction: column;
    }
  }
}