@import '../vars';
@import '../mixins';

.presidential-grants {

  &__wrapper {
    max-width: 116.2rem;
    margin-top: 4rem;
    gap: 2rem;
    @include breakpoint($xl-bp) {
      margin-top: 2rem;
    }
  }

  & .wrapper__container-item {
    width: 68%;
  }

  &__text {
    margin: 1rem 0 6rem 0;
    @include breakpoint($xl-bp) {
      margin: 1rem 0 4rem 0;
    }
  }

  & .title-slider {
    display: inline-block;
    padding: 0 1rem 3rem 0;
    @include breakpoint($sm-bp) {
      padding: 0 1rem 1rem 0;
    }
    & a {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__video-item {
    max-width: 100rem;

    & img {
      width: 100%;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-bottom: 14rem;
    @include breakpoint($xl-bp) {
      gap: 4rem;
      margin-bottom: 8rem;
    }
  }

  &__item p,
  &__item h3 {
   display: inline;
  }

  &__item a {
    cursor: pointer;
    text-decoration: underline;
  }

  &__video {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    margin: 5rem 0 14rem 0;
    @include breakpoint($xl-bp) {
      margin: 4rem 0 8rem 0;
      gap: 4rem;
    }
  }

  &__subtitle {
    color: $colorBg;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.5rem;
    text-decoration: underline;
    display: inline-block;
  }

  &__information-list {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 4rem;
    @include breakpoint($xl-bp) {
      gap: 2rem;
    }
  }

  &__list {
    margin-left: 4rem;
  }
}

