<aside class="aside">
    <ul class="nav-bar">
        <li class=" --color-text text__card"><span class="nav-bar__item active1">Основные сведения</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Об ИНО «Профессионал»</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Структура и органы управления</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Документы</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Образование</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Обучение лиц с ОВЗ</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Образовательные стандарты</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Руководство. Педагогический (научно-педагогический) состав</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Материально-техническое обеспечение и оснащенность образовательного процесса</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Стипендии и иные виды материальной поддержки</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Платные образовательные услуги</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Финансово-хозяйственная деятельность</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Вакантные места для приема (перевода)</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Платежные реквизиты</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Договор</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Защита персональных данных</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Галерея</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Организация питания</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Условия обучения</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Безопасная серда</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Электронные сервисы</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Медицинское обслуживание</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Расписание занятий</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Правила приема</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Образцы документов для поступления и об окончании обучения</span></li>
        <li class=" --color-text text__card"><span class="nav-bar__item">Партнеры</span></li>
    </ul>
</aside>