<aside class="aside">
    <ul class="nav-bar">
        <li class="nav-bar__item --color-text text__card"><span class="active">Основные сведения</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Об ИНО «Профессионал»</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Структура и органы управления</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Документы</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Образование</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Обучение лиц с ОВЗ</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Образовательные стандарты</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Руководство. Педагогический (научно-педагогический) состав</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Материально-техническое обеспечение и оснащенность образовательного процесса</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Стипендии и иные виды материальной поддержки</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Платные образовательные услуги</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Финансово-хозяйственная деятельность</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Вакантные места для приема (перевода)</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Платежные реквизиты</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Договор</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Защита персональных данных</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Галерея</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Организация питания</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Условия обучения</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Безопасная серда</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Электронные сервисы</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Медицинское обслуживание</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Расписание занятий</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Правила приема</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Образцы документов для поступления и об окончании обучения</span></li>
        <li class="nav-bar__item --color-text text__card"><span>Партнеры</span></li>
    </ul>
</aside>