<footer class="footer">
    <div class="footer__container footer__wrapper">
        <div class="footer__menu">
            {{> menu}}
        </div>
        <div class="footer__information">
            <ul class="footer__information-list">
                <li><a href="#" class="footer__information-item text__card --color-text">Личный кабинет для онлайн-поступления</a></li>
                <li><a href="#" class="footer__information-item text__card --color-text">Сводная ведомость специальной оценки условий труда (СОУТ ИНО «Профессионал»)</a></li>
                <li><a href="#" class="footer__information-item text__card --color-text">Информация по противодействию корупции</a></li>
            </ul>
            <ul class="footer__information-ministry">
                <li><a href="#" class="footer__information-item text__card --color-text">Министерство науки и высшего образования</a></li>
                <li><a href="#" class="footer__information-item text__card --color-text">Министерство просвещения</a></li>
            </ul>
        </div>
        <div class="footer__social">
            <div>
                <a href="tel:+79044907098" class="footer__linc">
                    <svg class="footer__svg">
                        <use href="#footer-phone"></use>
                    </svg>
                    <span class="footer__social-item text__card --color-text">+ 7 (499) 584-44-23</span>
                </a>
            </div>
            <div>
                <a href="mailto:info@ino-professional.ru" class="footer__linc" target="_blank">
                    <svg class="footer__svg">
                        <use href="#footer-letter"></use>
                    </svg>
                    <span class="text__card --color-text">info@ino-professional.ru</span>
                </a>
            </div>
            <div>
                <a href="#" class="footer__linc" target="_blank">
                    <svg class="footer__svg">
                        <use href="#footer-location"></use>
                    </svg>
                    <span class="text__card --color-text">109029, г.Москва,ул.Нижегородская, д.32, стр.16, к.303</span>
                </a>
            </div>
        </div>
    </div>
    <div class="footer__line wrapper"></div>
    <div class="footer__bottom footer__wrapper">
        <span class="text__card --color-text">© 2017 — 2023 Автономная некоммерческая организация Институт непрерывного образования «Профессионал» (ИНО «Профессионал»)</span>
        <span class="text__card --color-text">Политика Конфиденциальности</span>
        <a href="#">
            <svg class="footer__logo">
                <use href="#footer-logo" class="footer-logo"></use>
            </svg>
        </a>
    </div>
</footer>