<header class="header">
  <div class="header__top  wrapper">
    <p class="header__text text__subtitle">
      <a>Департамент Образования г.Москвы
        Центрыльный административный округ г.Москвы</a>
    </p>
    <div class="header__search">
      <svg class="header-search-svg">
        <use href="#header-search"></use>
      </svg>
      <input class="header__input" placeholder="Введите запрос">
    </div>
    <button class="button-small text__button-header">Личная студия</button>
    <div class="header__optic">
      <a href="#">
        <svg class="header-svg">
          <use href="#header-optic"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="header__nav  wrapper">
  <div class="header__logo-container">
    <div class="header__burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
      <div>
        <a class="header__logo">
          <img src="../assets/images/logo.svg" alt="logo">
          <div class="header__logo-text">
            Ино<br>Профессионал
          </div>
        </a>
      </div>
  </div>
  <div class="header__menu">{{> menu}}</div>
  <div class="header__tel">
    <a href="tel:+79044907098">
      + 7 (499) 584-44-23
    </a>
  </div>
</div>
</header>