<header class="header">
  <div class="header__top  wrapper">
    <p class="header__text text__subtitle">
      <a>Департамент Образования г.Москвы
        Центрыльный административный округ г.Москвы</a>
    </p>
    <div class="header__search">
      <svg class="header-search-svg">
        <use href="#header-search"></use>
      </svg>
      <input class="header__input" placeholder="Введите запрос">
    </div>
    <button class="button-small text__button-header">Личная студия</button>
    <div class="header__optic">
      <a href="#">
        <svg class="header-svg">
          <use href="#header-optic"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="header__nav  wrapper">
  <div class="header__logo-container">
    <div class="header__burger ">
      <span></span>
      <span></span>
      <span></span>
    </div>
      <div>
        <a class="header__logo">
          <img src="assets/images/logo.svg" alt="logo">
          <div class="header__logo-text">
            Ино Профессионал
          </div>
        </a>
      </div>
  </div>
  <div class="header__menu">{{> menu}}</div>
  <div class="header__tel">
    <a href="tel:+7 499 584-44-23">
      +7 499 584-44-23
    </a>
  </div>
  </div>
  <div class="header__mob wrapper">
    <section class="header__mob-menu">
      <ul class="header__mob-list">
        <li class="header__mob-close"><div class="close"></div></li>
        <li class="header__mob-item"><a class="text__card">Основные сведения</a></li>
        <li class="header__mob-item"><a class="text__card">Об ИНО «Профессионал»</a></li>
        <li class="header__mob-item"><a class="text__card">Структура и органы управления</a></li>
        <li class="header__mob-item"><a class="text__card">Документы</a></li>
        <li class="header__mob-item"><a class="text__card">Образование</a></li>
        <li class="header__mob-item"><a class="text__card">Обучение лиц с ОВЗ</a></li>
        <li class="header__mob-item"><a class="text__card">Образовательные стандарты</a></li>
        <li class="header__mob-item"><a class="text__card">Руководство. Педагогический (научно-педагогический) состав</a></li>
        <li class="header__mob-item"><a class="text__card">Материально-техническое обеспечение и оснащенность образовательного процесса</a></li>
        <li class="header__mob-item"><a class="text__card">Стипендии и иные виды материальной поддержки</a></li>
        <li class="header__mob-item"><a class="text__card">Платные образовательные услуги</a></li>
        <li class="header__mob-item"><a class="text__card">Финансово-хозяйственная деятельность</a></li>
        <li class="header__mob-item"><a class="text__card">Вакантные места для приема (перевода)</a></li>
        <li class="header__mob-item"><a class="text__card">Платежные реквизиты</a></li>
        <li class="header__mob-item"><a class="text__card">Договор</a></li>
        <li class="header__mob-item"><a class="text__card">Защита персональных данных</a></li>
        <li class="header__mob-item"><a class="text__card">Галерея</a></li>
        <li class="header__mob-item"><a class="text__card">Организация питания</a></li>
        <li class="header__mob-item"><a class="text__card">Условия обучения</a></li>
        <li class="header__mob-item"><a class="text__card">Безопасная серда</a></li>
        <li class="header__mob-item"><a class="text__card">Электронные сервисы</a></li>
        <li class="header__mob-item"><a class="text__card">Медицинское обслуживание</a></li>
        <li class="header__mob-item"><a class="text__card">Расписание занятий</a></li>
        <li class="header__mob-item"><a class="text__card">Правила приема</a></li>
        <li class="header__mob-item"><a class="text__card">Образцы документов для поступления и об окончании обучения</a></li>
        <li class="header__mob-item"><a class="text__card">Партнеры</a></li>
      </ul>
    </section>
  </div>
</header>