<header class="header">
  <div class="header__linc  wrapper">
    <p class="header__text-linc text__subtitle"><a href="#">Центральный административный округ</a></p>
    <p class="header__text-linc text__subtitle"><a href="#">Департамент образования и науки г. Москвы</a></p>
    <p class="header__text-linc text__subtitle"><a href="#">Лицензия: №ЛО35-01298-77/00181955 от 13.08.2019</a></p>
    <p class="header__text-linc text__subtitle"><a href="#">Аккредитация №005066 от 17.02.2023</a></p>
  </div>
  <div class="header__top  wrapper">
    <p class="header__text text__subtitle">
      <a>Департамент Образования г.Москвы
        Центрыльный административный округ г.Москвы</a>
    </p>
    <div class="header__search">
      <svg class="header-search-svg">
        <use href="#header-search"></use>
      </svg>
      <input class="header__input" placeholder="Введите запрос">
    </div>
    <button class="button header__button text__button-header button-bg">Личная студия студента</button>
    <button class="button header__button text__button-header button-bg">Личная студия преподавателя</button>
    <div class="header__optic">
      <a href="#">
        <svg class="header-svg">
          <use href="#header-optic"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="header__nav  wrapper">
  <div class="header__logo-container">
    <div class="header__burger ">
      <span></span>
      <span></span>
      <span></span>
    </div>
      <div>
        <a class="header__logo">
          <img src="assets/images/logo.svg" alt="logo">
        </a>
      </div>
  </div>
  <div class="header__menu">{{> menu}}</div>
  <div class="header__tel">
    <a href="tel:+7 499 584-44-23">
      +7 499 584-44-23
    </a>
  </div>
  </div>
  <div class="header__mob wrapper">
    <section class="header__mob-menu">
      <ul class="header__mob-list">
        <li class="header__mob-close"><div class="close"></div>
          <div></div>
        </li>
        <li class="header__mob-item  hide">
          <div class="header__mob-optic">
            <a href="#">
              <svg class="header-svg">
                <use href="#header__mob-optic"></use>
              </svg>
            </a>
          </div>
          <div class="header__menu-mob">{{>menu}}</div>
          <div class="header__button-container hide">
            <button class="header__button--item">Личная студия студента</button>
            <button class="header__button--item">Личная студия преподавателя</button>
          </div></li>
        <li class="header__mob-item text__card"><a href="#">Основные сведения</a></li>
        <li class="header__mob-item text__card"><a href="#">Об ИНО «Профессионал»</a></li>
        <li class="header__mob-item text__card"><a href="#">Структура и органы управления</a></li>
        <li class="header__mob-item text__card"><a href="#">Документы</a></li>
        <li class="header__mob-item text__card"><a href="#">Образование</a></li>
        <li class="header__mob-item text__card"><a href="#">Обучение лиц с ОВЗ</a></li>
        <li class="header__mob-item text__card"><a href="#">Образовательные стандарты</a></li>
        <li class="header__mob-item text__card"><a href="#">Руководство. Педагогический (научно-педагогический) состав</a></li>
        <li class="header__mob-item text__card"><a href="#">Материально-техническое обеспечение и оснащенность образовательного процесса</a></li>
        <li class="header__mob-item text__card"><a href="#">Стипендии и иные виды материальной поддержки</a></li>
        <li class="header__mob-item text__card"><a href="#">Платные образовательные услуги</a></li>
        <li class="header__mob-item text__card"><a href="#">Финансово-хозяйственная деятельность</a></li>
        <li class="header__mob-item text__card"><a href="#">Вакантные места для приема (перевода)</a></li>
        <li class="header__mob-item text__card"><a href="#">Платежные реквизиты</a></li>
        <li class="header__mob-item text__card"><a href="#">Договор</a></li>
        <li class="header__mob-item text__card"><a href="#">Защита персональных данных</a></li>
        <li class="header__mob-item text__card"><a href="#">Галерея</a></li>
        <li class="header__mob-item text__card"><a href="#">Организация питания</a></li>
        <li class="header__mob-item text__card"><a href="#">Условия обучения</a></li>
        <li class="header__mob-item text__card"><a href="#">Безопасная серда</a></li>
        <li class="header__mob-item text__card"><a href="#">Электронные сервисы</a></li>
        <li class="header__mob-item text__card"><a href="#">Медицинское обслуживание</a></li>
        <li class="header__mob-item text__card"><a href="#">Расписание занятий</a></li>
        <li class="header__mob-item text__card"><a href="#">Правила приема</a></li>
        <li class="header__mob-item text__card"><a href="#">Образцы документов для поступления и об окончании обучения</a></li>
        <li class="header__mob-item text__card"><a href="#">Партнеры</a></li>
        <li class="header__mob-item text__card"><a href="#">
          <div class="header__mob-linc">
            <a href="#">Центральный административный округ</a>
            <a href="#">Департамент образования и науки г. Москвы</a>
            <a href="#">Лицензия: №ЛО35-01298-77/00181955 от 13.08.2019</a>
            <a href="#">Аккредитация №005066 от 17.02.2023</a>
          </div>
        </a></li>
      </ul>
    </section>
  </div>
</header>