<div class="menu">
  <ul class="menu__list">
    <li><a href="main.html" class="menu__item text__card --color-text">Главная</a></li>
    <li><a href="#" class="menu__item text__card --color-text">О нас</a></li>
    <li><a href="project.html" class="menu__item text__card --color-text">Проекты</a></li>
    <li><a href="presidential-grants.html" class="menu__item text__card --color-text">Президентские гранты</a></li>
    <li><a href="curse-item.html" class="menu__item text__card --color-text">Курсы</a></li>
    <li><a href="news-all.html" class="menu__item text__card --color-text">Новости</a></li>
    <li><a href="#" class="menu__item text__card --color-text">Контакты</a></li>
  </ul>
</div>