<div class="pop-up">
    <div class="pop-up__container">
        <div class="pop-up__information">
            <div>
                <svg class="pop-up__close">
                    <use href="#close-modal">
                    </use>
                </svg>
            </div>
            <form class="pop-up__text">
                <p class="pop-up__title --color-text">Ваша заявка отправлена</p>
                <div class="text --color-text">Наш консультант свяжется с вами в ближайшее время</div>
                <button type="submit" class="pop-up__button text__button">Ok</button>
            </form>
        </div>
    </div>
</div>